<% layout('/layout/boilerplate') -%>
    <link rel="stylesheet" href="css/style.css">
    <div class="card mx-auto mt-5">
        <div class="card-body home text-center">
            <h3>Welcome back <%= user.fname + " " + user.lname %>
            </h3>
            <form action="/images/uploads" class="mt-5" method="POST" enctype="multipart/form-data">
                <input type="file" accept="image/*" name="image">
                <button class="btn btn-primary mt-3">Add Image</button>
                <br>
                <% if(user.role==="admin" ) {%>
                    <button class="btn btn-danger mt-3" formaction="/register" formmethod="get">Add User</button>
                    <br>
                    <% } %>
                        <button class="btn btn-dark mt-3" formmethod="post" formaction="/logout">Logout</button>
            </form>
        </div>
    </div>
    <div class="container text-center mx-auto mt-5">
        <div class="row mx-auto justify-content-around">
            <% if(images.length> 0){ %>
                <% for(let i=0; i<images.length; i++) { %>
                    <div class="card my-3 mx-2 col-12 col-md-6 col-lg-4" style="width: 18rem;">
                        <img class="card-img-top mt-3" height="300px" src="/images/uploads/<%= images[i].imageName %>" alt="">

                        <div class="card-body">
                            <% if(images[i].userid===user.userid){ %>
                                <form action="/images/delete/<%= images[i].imageName %> " method="POST">
                                    <button class="btn btn-danger">Delete</button>
                                </form>
                                <% } %>
                        </div>
                    </div>
                    <% } %>
                        <% } %>
        </div>
    </div>